@import url(https://fonts.googleapis.com/css?family=Long+Cang&display=swap);

body {
    font-family: Arial,Helvetica,Verdana,"Microsoft JhengHei",sans-serif;
}

button:focus, .btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none;
}

.navbar-toggler>.close {
  display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: none;
}

#navbarSupportedContent {
	.customize-badge {
		position: absolute !important;	
		left: 0 !important;
	}
}

.main {
	padding-top: 76px; /* Space for fixed navbar */
}

.carousel {
    background-color: #dcdcdc;

    .carousel-inner {
        .carousel-item {
            background-size: contain; 
            background-repeat: no-repeat;
            background-position: center;            
            width: 100%;           
            height: 40vh;
            padding: .4rem;
        }

        .first-item {
            background-image: url("./assets/img/slider-1.jpg");            
        }

        .second-item {
            background-image: url("./assets/img/slider-2.jpg");            
        }

        .third-item {
            background-image: url("./assets/img/slider-3.jpg");            
        }

        .ring {            
            width: 100%;
            height: 100%;
            border: 2px solid #8f8260;
        }
    }

    .carousel-img {
        max-height: 50vh;
    }

    .ad {
        font: {
            family: 'Long Cang', cursive;            
            size: 2rem;
        }
        position: absolute;
        margin-left: 2rem;
        padding: 0 .5rem;
        bottom: 20%;
        color: #ffffff;
        background-color: rgba($color: #000000, $alpha: 0.5);
        cursor: default;
        z-index: 99;
    }
}

.category {
	height: 60px;

	ul, li {
		list-style-type: none;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}	

	li + li {
		border-left: 1px solid #8f8260;
	}

	.item {
		line-height: 60px;
		float: left;
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0);
        transition: all .5s;
        
        &:hover {            
            background-color: rgba($color: #000000, $alpha: 0.3);

            .shop-link {
                color: #ffffff;
            }
        }
    }
    
    .shop-link {
        color: #212529;
        text-decoration: none;        
    }
}

.index-content {
    .block-item {
        position: relative;
        padding: 14rem 0;

        .advertise {  
            padding: .4rem;
            position: absolute;
            top: 50%;
            left: 50%;          
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: #000000;            
            background-color: rgba(255, 255, 255, .5);
            cursor: pointer;            
        }

        .layer {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            transition: all 0.6s ease-in-out;
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
        }

        &:hover .layer {
            box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.9);
            -moz-box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.9);
            -webkit-box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.9);

            transition:all 0.6s ease-in-out;
            -webkit-transition:all 0.6s ease-in-out;
            -moz-transition:all 0.6s ease-in-out;
            -ms-transition:all 0.6s ease-in-out;
            -o-transition:all 0.6s ease-in-out;
        }        
    }

    .left-top {
        background: url("./assets/img/model-1.jpg") center bottom no-repeat;
        background-size: cover;        
    }

    .left-bottom {
        padding: 2rem 0;
        cursor: default;
    }

    .right-top {
        padding: 2rem 0;
        cursor: default;

        .btn-customize {
            color: #fff;
            background-color: #5a5a5a;
        }
    }

    .right-bottom {
        background: url("./assets/img/model-2.jpg") center bottom no-repeat;
        background-size: cover;  
    }
}

.copyright {
    padding: 1rem;
}

footer {
    ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .social-media li {        
        float: left;        
        margin: 0 .4rem;

        .footer-icon {
            color: #8f8260;
            font-size: 1.6rem;
        }
    }
}

.cart, .favorite, .setting {
    float: left;
    // margin-left: .25rem
}

@media (max-width: 992px) {    
    .favorite {
        float: right;
    }
}

@media (max-width: 768px) {
    .footer-content {
        .footer-item {
            margin: 1rem 0;
        }
    }
}

@media (max-width: 695px) {
    .carousel {
        .carousel-inner {            
            .carousel-item {
                padding: 0 .4rem;
            }
        }

        .ad {                
            font-size: 1.4rem;
            margin: 0 .4rem;
            top: .4rem;
            left: 0rem;  
            bottom: initial;          
        }
    }
}

@media (max-width: 576px) {
	.category {
        height: 40px;

        .item {
            line-height: 40px;
        }
    }    
}